{% extends 'base.html.twig' %}
{% block title %}
	{{title}}
{% endblock %}

{% block body %}
	<div class="container">
		{{ parent() }}
		<div class="afterHeader">
			<h3>
				{{title}}</h3>
		</div>
		{% for message in app.flashes('error') %}
			<div style="color: red">{{ message }}</div>
		{% endfor %}
		<div class="formContainer">
			{{ form_start(form) }}
			{{ form_label(form.dni) }}
			{{ form_widget(form.dni) }}
			<button class="buttons" type="submit">Find</button>
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
