{% extends 'base.html.twig' %}
{% block title %}
{{title}}
{% endblock %}

{% block body %}
	<div class="container">
		{{ parent() }}
		<div class="buttonsMP">
			<a class="mainpageButton" href={{ path('show_all_employees') }}>
				<button>Show employees</button>
			</a>

			<a class="mainpageButton" href={{ path('add_employee') }}>
				<button>Add employee</button>
			</a>
			<a class="mainpageButton" href={{ path("find_employee") }}>
				<button >Find an employee</button>
			</a>
		</div>
	</div>
{% endblock %}
